.hangmanArea {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.manSpace {
    margin-left: 8rem;
}

.keyboard {
    align-self: stretch;
}

.endGameMessage {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.endGameMessage p {
    padding-right: 2rem;
}


