@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


.gameArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wordSum {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wordHolder {
    width: 150px;
    min-height: 20px;
    overflow: auto;
    margin: 1rem;
    border: 1px solid #A3ABC0;
    padding: 0.5rem;
    border-radius: 5px;
}

.wordsArea {
    width: 00px;
    margin: 30px auto;
    overflow: auto;
    min-height: 400px;
    border: 5px solid;
    padding: 30px;
    border-radius: 5px;
}

/* .word-box {
    padding: 5px;
    margin: 50px;
    color: red;
    display: inline-block;
} */

.heading {
    text-align: center;
}

/* .word-container {
    text-align: center;
    padding: 5px;
    background-color: rgb(0, 247, 255);
    cursor: pointer;
  }
   */


.scoring {
    justify-content: center;

}



.wordHolders {
    display: flex;
    justify-content: center;
    align-items: center;

}

.wordHolder {
    min-height: 50px;
    padding: 4;
    width: 200px;

}

.wordInWordHolder {
    user-select: none;
    padding: auto;
    margin: 0px 0px 8px 0px;
    min-height: 50px;
}

.answerHolder {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.answerHolderInner {
    min-height: 50px;
    background-color: #9BD0D6; 
    padding: 4px;
    width: auto;
    min-width: 150px;
    border: 1px solid #A3ABC0;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 1rem;
    

}

.wordArea {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.wordAreaInner {
    padding: 4px;
    max-width: 40rem;
    height: 300px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: center;

}

.wordInWordArea {
    user-select: none;
    padding: 10px;
    margin: 0px 4px 4px 0px;
    min-width: 50px;
    max-height: 60px;
    color: #261725;
    background-color: #98D0D6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}


.dict {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    }
    