* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }
  
.mainContainer {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.centreContainer {
    flex-grow: 2;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    align-items: center;
    padding-left: 3rem;
}

.gameContainer {
    font-size: 2rem;
    text-align: center;
}

.areasContainer {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.leftArea {
    flex-grow: 1;
    margin-right: 3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* .leaderboard {
    display: flex;
    flex-direction: column;
} */

.rightArea {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 3rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
   
}

.button {
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    min-width: 5rem;
    min-height: 3rem;
    text-align: center;
    cursor: pointer;
    background-color: #004F52;
    color: white;
    border: none;
    border-radius: 10px;
}

