/* Color variables */
:root {
  --main-dark-color: #003C55;
  --main-light-color: #E3EEFF;
  --background-color: FFFEFE;
}

/*Reset css */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--light-text);
  
}


body {
  margin: 0;
  background-color: var(--background-color);
  font-family: Helvetica;
}

.page {
  position: relative;
  min-height: 100vh;
  border: none;
}



.Drop_lesson {
  display:none;
}
.Drop_lesson .show {display:block;}

.gaga {
  min-height: 100vh;
}

.input {
  text-indent:-99999px; 
  white-space:nowrap; 
  overflow:hidden; 
  position:absolute;
}

.text-area-contact {
  width:16rem;
  height:16rem;
}

.name-area-contact {
  width:16rem;
  height:2rem;
}





.logo {
    width: 2.5rem;
    height: 2.5rem;
}

.leaderboard {
    left: 2rem;
    top: 10rem;
    /* position: absolute; */
  left: 2rem;
  top: 10rem;
  position: absolute;
}

.langlogo {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    padding: 0rem 0rem;
}

.dashboardTest {
  min-height: 100vh;
}